<footer>
    <section>
        <div>
            <img class="logo" src="assets/Images/Bachira.png" alt="logo">
            <p>
                Bachira is an online store dealing with all product
                Bachira provide cheap, high quality, products to
                customers
            </p>
        </div>
        <div id="right">
            <ul>
                <li>For Beginner</li>
                <a ><li>About</li></a>
                <a ><li>Career</li></a>
                <a ><li>Promotion</li></a>
            </ul>
            <ul>
                <li>Overview</li>
                <a ><li (click)="appComponent.OpenRouterLink(['products'])">Product</li></a>
                <a ><li (click)="appComponent.OpenRouterLink(['categories'])">Categories</li></a>
                <a ><li (click)="appComponent.OpenRouterLink(['pricing'])">Pricing</li></a>
            </ul>
            <ul>
                <li>Explore Us</li>
                <a ><li>Our Career</li></a>
                <a ><li>Privacy</li></a>
                <a ><li>Terms & Conditions</li></a>
            </ul>
            <ul>
                <li>Connect Us</li>
                <a ><li>support@bachira.com</li></a>
                <a ><li>021-555-456</li></a>
                <a ><li>Sudirman, South Jakarta</li></a>
            </ul>
        </div>
    </section>
    <section>
        <p>Copyright 2023 • All Rights Reserved Bachira by Giatinaja</p>
    </section>
</footer>