@use "../styles/variables";

footer {
    padding-inline: 2.5em;

    section:first-child {
        margin-top: 0px;
        display: flex;
        justify-content: space-between;
        align-items: start;

        div {
            width: 35%;
            p {
                text-align: left;
                max-width: 75%;
                
            }
        }

        #right {
            width: 65%;
            display: flex;
            justify-content: space-between;
            align-items: start;
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;

                li {
                    font-weight: bold;
                    color: variables.$Black;
                }

                a {
                    text-decoration: none;
                    font-weight: normal;
                    
                    li {
                        line-height: 1.5625em;
                        font-weight: normal !important;
                        color: variables.$Grey;
                    }
                }
            }
        }


        
    }

    section {
        margin-top: 3.125em;
        p {
            text-align: center;
        }
    }

    pre, li, p {
        color: variables.$Grey;
    }
}

