<div id="landing-div">
    <div>
        <h1>Best Place to Buy</h1>
        <h1>Everything</h1>
        <p>At Bachira, you can shop for all your favorite beauty brands, clothes,
            household products and more at a single place.</p>
        <button (click)="appComponent.OpenRouterLink(['products'])" class="app-button-g">Shopping now</button>
    </div>
    <div>
        <img src="assets/Images/landing_image.PNG" alt="">
    </div>
</div>
<div id="collabs-div">
    <pre>
We Collaborate With 250++ Leading Top 
E Commerce and Brands</pre>
    <div>
        <img src="assets/Images/Tokopedia.png" alt="">
        <img src="assets/Images/Balenciaga.png" alt="">
        <img src="assets/Images/adidas.png" alt="">
        <img src="assets/Images/gucci.png" alt="">
        <img src="assets/Images/Bukalapak.png" alt="">
    </div>
</div>
<div id="browse-categories">
    <pre>
Browse Categories of 
The Store
    </pre>
    <div>    
        <div>
            <div class="browse-categories-button">Fashion</div>
            <div class="browse-categories-button">Skincare</div>
        </div>
        <div class="browse-categories-button">Shoes</div>
        <div class="browse-categories-button">Electronic</div>
    </div>
</div>