<div id="landing-div">
    <div>
        <h1>Best Place to Buy</h1>
        <h1>Everything</h1>
        <p>At Bachira, you can shop for all your favorite beauty brands, clothes,
            household products and more at a single place.</p>
        <button (click)="appComponent.OpenRouterLink(['products'])" class="app-button-g">Shopping now</button>
    </div>
    <div>
        <img src="assets/Images/landing_image.PNG" alt="">
    </div>
</div>
<div id="collabs-div">
    <pre>
We Collaborate With 250++ Leading Top 
E Commerce and Brands</pre>
    <div>
        <img src="assets/Images/Tokopedia.png" alt="">
        <img src="assets/Images/Balenciaga.png" alt="">
        <img src="assets/Images/adidas.png" alt="">
        <img src="assets/Images/gucci.png" alt="">
        <img src="assets/Images/Bukalapak.png" alt="">
    </div>
</div>
<div id="browse-categories">
    <pre>
Browse Categories of 
The Store
    </pre>
    <div>    
        <div class="browse-categories-button" style="background-image: url(assets/Images/fashion_bg.jpg);">
            <h1>Fashion</h1>
            <p>{{numberOfFashionProducts}} products</p>
        </div>
        <div class="browse-categories-button" style="background-image: url(assets/Images/shoes_bg.png);">
            <h1>Shoes</h1>
            <p>{{numberOfShoeProducts}} products</p>
        </div>
        <div class="browse-categories-button" style="background-image: url(assets/Images/electronic_bg.png);">
            <h1>Electronics</h1>
            <p>{{numberOfElectronicsProducts}} products</p>
        </div>
        <div class="browse-categories-button" style="background-image: url(assets/Images/skincare_bg.jpg);">
            <h1>Skincare</h1>
            <p>{{numberOfSkincareProducts}} products</p>
        </div>
    </div>
</div>
<div id="why-choose-bachira-div">
    <h1>Why Choose Ba<span>chira</span>?</h1>
    <div>
        <img src="assets/Images/delivery_icon.png" alt="">
        <h1>Free delivery</h1>
        <pre>
Lorem ipsum dolor sit amet, consectetu
adipiscing elit, sed do eiusmod tempor
        </pre>
    </div>
    <div>
        <img src="assets/Images/trust_icon.png" alt="">
        <h1>Trusted Platform</h1>
        <pre>
Lorem ipsum dolor sit amet, consectetu
adipiscing elit, sed do eiusmod tempor
        </pre>
    </div>
    <div>
        <img src="assets/Images/foryou_icon.png" alt="">
        <h1>Here For You</h1>
        <pre>
Lorem ipsum dolor sit amet, consectetu
adipiscing elit, sed do eiusmod tempor
        </pre>
    </div>
</div>
<div id="products-list">
    <h1>Popular Products From All Brands</h1>
    <div id="container" *ngIf="products.length>0">
        <div class="app-product-card" *ngFor="let product of products" (click)="appComponent.OpenProduct(product.id)">
            <img [src]="product.image">
            <h1>{{product.name}}</h1>
            <p>{{product.price | currency}}</p>
        </div>
    </div>
</div>