<header>
    <img class="logo" src="assets/Images/Bachira.png" alt="logo">
    <nav>
        <a  *ngFor="let str of NavLinks; index as i" 
            [ngStyle]="{'color': (MarkedNavLink == i) ? 'Black' : '#535A56'}"
            (click)="SetCorrectNavLink(i); appComponent.OpenRouterLink([str])">
            {{str | titlecase}}
        </a>
    </nav>
    <div *ngIf="!appComponent.isLogined">
        <button class="app-button-w" (click)="appComponent.OpenRouterLink(['login'])">Login</button>
        <button class="app-button-g" (click)="appComponent.OpenRouterLink(['register'])">Register</button>
    </div>
    <div (click)="appComponent.OpenRouterLink(['user'])" *ngIf="appComponent.isLogined" id="profile-corner">
        <img src="assets/Images/default_profile_picture.png" alt="profile_picture">
    </div>
</header>