@use "../../styles";

header {
    padding-inline: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;

    img {
        width: styles.$logo_img_width;
        height: styles.$logo_img_height;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;

        a {
            text-decoration: none;
            color: styles.$Grey;
            margin-inline: 5px;
        }
    }

    div {
        text-align: center;
        button {
            padding: 12px 18px;
            outline: none;
            border: none;
            border-radius: 8px;
            background-color: white;
            transition: all 0.1s ease;
        }

        button:active {
            background-color: rgb(241, 241, 241);
        }

        #reg-button {
            background-color: styles.$Green;
            color: white;
        }

        #reg-button:hover {
            background-color: #37816b;
        }

        #reg-button:active {
            background-color: #226854;
        }
    }
}

@media screen and (max-width:700px) {
    nav {
        a {
            text-align: center;
        }
    }

    button {
        padding: 7.5px 11.25px !important;
    }
}
@media screen and (max-width:500px) {
    nav {
        a {
            text-align: center;
        }
    }

    button {
        padding: 6px 9px !important;
    }
}
@media screen and (max-width:430px) {
    nav {
        a {
            text-align: center;
        }
    }

    button {
        padding: 2.75px 5.625px !important;
    }
}