/* You can add global styles to this file, and also import other style files */
@use "../src/app/styles/variables";

html {
    font-size: 16px;
}

* {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 0.3px;
}

app-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    router-outlet {
        position: absolute;
    }
}

@media screen and (max-width:700px) {
    .logo {
        width: variables.$logo_img_width*0.65 !important;
        height: variables.$logo_img_height*0.65 !important;
        //transform: scaleX(65%) scaleY(65%);
    }

    html {
        font-size: 10px;
        line-height: 12px;
    }
}
@media screen and (max-width:500px) {
    .logo {
        width: variables.$logo_img_width*0.45 !important;
        height: variables.$logo_img_height*0.45 !important;
        //transform: scaleX(45%) scaleY(45%);
    }

    html {
        font-size: 8px;
        line-height: 10px;
    }
}
@media screen and (max-width:430px) {
    .logo {
        width: variables.$logo_img_width*0.35 !important;
        height: variables.$logo_img_height*0.35 !important;
        //transform: scaleX(35%) scaleY(35%);
    }

    html {
        font-size: 5px;
        line-height: 8px;
    }
}
