@use "../styles/variables";

#container {
    height: 31.25em;
    width: 15.625em;
    margin-inline: auto;
    text-align: center;
    padding-bottom: 3.125em;

    h1 {
        margin-bottom: 1.875em;
        font-size: 1.25em;
    }

    form {
        
        p {
            text-align: left;
            margin-top: 0.3125em;
            margin-bottom: 0.25em;
            color: variables.$Grey;
        }

        #validation-div {
            p {
                color: red;
            }
        }

        input {
            box-sizing: border-box;
            padding: 0.5em 0.625em;
            width: 100%;
            box-shadow: 0 0.125em 0.125em lightgray;
            outline: none;
            border: none;
            color: variables.$Grey;
            border-radius: 0.5em;
        }

        button {
            margin-top: 0.9375em;
            width: 100%;
            padding: 0.75em 1.125em;
        }
    }
}