@use "../variables";
@use "../globalMediaQueries";

* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

#container {
    height: 500px;
    width: 250px;
    margin-inline: auto;
    text-align: center;
    padding-bottom: 50px;

    h1 {
        margin-bottom: 30px;
        font-size: 20px;
    }

    form {
        
        p {
            text-align: left;
            margin-top: 5px;
            margin-bottom: 4px;
            color: variables.$Grey;
        }

        #validation-div {
            p {
                color: red;
            }
        }

        input {
            padding: 8px 10px;
            width: 100%;
            box-shadow: 0 2px 2px lightgray;
            outline: none;
            border: none;
            color: variables.$Grey;
            border-radius: 8px;
        }

        button {
            margin-top: 15px;
            width: 100%;
            padding: 12px 18px;
            background-color: variables.$Green;
            outline: none;
            border: none;
            color: white;
            border-radius: 8px;
        }

        button:hover {
            background-color: #37816b;
        }

        button:active {
            background-color: #226854;
        }

        button:disabled {
            background-color: variables.$Grey;
        }
    }
}