<div class="container" *ngIf="!updatingUser">
    <img src="assets/Images/default_profile_picture.png" alt="">
    <div id="info-container">
        <h1>{{user.userName}}</h1>
        <h1>{{user.email}}</h1>
        <h1>{{user.password | password}}</h1>
    </div>
    <div>
        <button class="app-button-g" (click)="Start()">Edit Profile</button>
        <button class="app-button-w" (click)="OnExitButtonClick()">Log out</button>
    </div>
</div>
<div class="container" *ngIf="updatingUser">
    <form action="" id="change-form" (submit)="ChangeUser()">
        <img src="assets/Images/default_profile_picture.png" alt="">
        <div>
            <input type="text" name="name" id="name" [(ngModel)]="changedUser.userName" required #name="ngModel">  
        </div>
        <div>
            <input type="email" name="email" id="email" [(ngModel)]="changedUser.email" [email]="true" placeholder="Enter new email" required #email="ngModel">
        </div>
        <div>
            <input type="password" name="password" id="password" [(ngModel)]="changedUser.password" placeholder="Enter new email" required #password="ngModel" minlength="8">
        </div>
        <button class="app-button-g" [disabled]="name.invalid || email.invalid || password.invalid">Change</button>
    </form>
</div>
<div id="cart" style="padding: 2.75em;">
    <h1>In Cart</h1>
    <div>
        <div class="app-product-card" *ngFor="let product of cart; index as i" >
            <img [src]="product.image" alt="" (click)="appComponent.OpenProduct(product.id)">
            <h1>{{product.name}}</h1>
            <p>{{product.price | currency}}</p>
            <button (click)="RemoveFromCart(i)">X</button>
        </div>
    </div>
</div>