<div>
    <pre>
    At Bachira, we take your privacy and security seriously. This privacy policy outlines how 
    we collect, use, and protect your personal information when you use our website.
    </pre>
    <ol>
        <li><pre>
        Information we collect: When you register and create an account on Bachira, we collect personal 
        information such as your name, email address, and shipping address. We also collect information 
        about your browsing and purchasing behavior on the website.
        </pre></li>
        <li><pre>
        How we use your information: We use your personal information to provide you with a personalized 
        shopping experience on Bachira, including processing your orders, providing customer service, 
        and sending you promotional offers and newsletters. We may also use your information for market
        research and to improve our website and services.
        </pre></li>
        <li><pre>
        Sharing your information: We do not sell, rent, or share your personal information with third 
        parties for their marketing purposes. However, we may share your information with our trusted partners
        and service providers who assist us in operating the website, processing payments, and delivering 
        products.
        </pre></li>
        <li><pre>
        Cookies: We use cookies and other tracking technologies to improve your browsing experience on 
        Bachira and to personalize the content and advertisements you see. You may choose to disable cookies 
        in your browser settings, but this may limit your ability to use certain features on our website..
        </pre></li>
        <li><pre>
        Security: We use industry-standard security measures to protect your personal information from 
        unauthorized access, disclosure, or modification. However, no data transmission over the internet can 
        be guaranteed to be 100% secure, and we cannot guarantee the security of your information.
        </pre></li>
        <li><pre>
        Children's privacy: Bachira is not intended for use by children under the age of 13. We do not 
        knowingly collect personal information from children under the age of 13.
        </pre></li>
        <li><pre>
        Changes to this policy: We may update this privacy policy from time to time to reflect changes in 
        our practices or legal requirements. We will notify you of any material changes to this policy 
        by posting a notice on our website or by email.
        </pre></li>
    </ol>
    <pre>
    If you have any questions or concerns about our privacy policy, please contact us at 
    privacy@bachira.com. Thank you for using Bachira and for trusting us with your personal information.
    </pre>
</div>